*{
    font-family: 'Anton', sans-serif;
}

hr {
    color: #E6E6E6;
}

.circle {
    border-radius: 50%;
}

.badge{
    background-color: #E6563B;
}

#circle, .border{
    border: 2em solid white;
}

.circle2{
    border-radius: 50%;
}


